<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
</head>
<body>

<h1>Books</h1>
<a href="">Home...</a>
<form th:action="@{/books/selection}" method="post" th:object="${bookSelection}">
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Select</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td><a th:href="@{/books/edit-book(id=${book.id})}">edit...</a></td>
            <td><input type="checkbox" th:value="${book.id}" name="selectedBooks"/></td>
        </tr>
    </table>
    <button type="submit">Delete selected books...</button>
</form>
<p><a href="#" th:href="@{/books/add-book}">Add new book</a></p>

</body>
</html>