<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Your Cart</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<header>
  <h1>Welcome to Simple E-Commerce</h1>
  <h2>Your Shopping Cart</h2>
  <nav>
    <a href="/">Home</a>
    <a href="/books">Books</a>
    <a href="/cart">Cart</a>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out"/>
    </form>
  </nav>
</header>

<main>
  <h2>Cart Items</h2>
  <div class="cart">
    <!-- Loop through cart items -->
    <table>
      <thead>
      <tr>
        <th>Description</th>
<!--        <th>Quantity</th>-->
        <th>Price</th>
<!--        <th>Subtotal</th>-->
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${cart.items}">
        <td th:text="${item.description}">Description</td>
<!--        <td th:text="${item.quantity}">1</td>-->
        <td>$<span th:text="${item.price}">0.00</span></td>
<!--        <td>$<span th:text="${item.quantity * item.product.price}">0.00</span></td>-->
        <td>
          <form th:action="@{/cart/remove-cart}" method="post">
            <input type="hidden" name="cartItemId" th:value="${item.id}">
            <button type="submit">Remove</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
<!--    <p>Total: $<span th:text="${cart.total}">0.00</span></p>-->
    <form th:action="@{/checkout}" method="post">
      <button type="submit">Checkout</button>
    </form>
  </div>
</main>

<footer>
  <p>&copy; 2024 Simple E-Commerce. All rights reserved.</p>
</footer>
</body>
</html>
