<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple E-Commerce</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <script th:inline="javascript">
        var nameJs = /*[[${name}]]*/;
    </script>
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<header>
    <h1>Welcome to Simple E-Commerce</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/books">Books</a>
        <a href="/magazines">Magazines</a>
        <a href="/discMags">Disc Mag</a>
        <a href="/tickets">Tickets</a>
        <a href="/cart">Cart</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </nav>
</header>

<main>
    <h2>Tickets</h2>
    <button type="button" th:onclick="showName(nameJs);">Show Name</button>
    <p><a href="#" th:href="@{/tickets/add-ticket}">Add new ticket</a></p>
    <div class="product-list">
        <!-- Loop through the products -->
        <form th:action="@{/tickets/selection}" method="post" th:object="${ticketSelection}">
            <table border="1" cellpadding="5" cellspacing="0">
                <tr>
                    <th>ID</th>
                    <th>Text</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Select</th>
                </tr>
                <tr th:each="ticket : ${tickets}">
                    <td th:text="${ticket.id}"></td>
                    <td th:text="${ticket.text}"></td>
                    <td th:text="${ticket.price}"></td>
                    <td th:text="${ticket.description}"></td>
                    <td><a th:href="@{/tickets/edit-ticket(id=${ticket.id})}">edit...</a></td>
                    <td><input type="checkbox" th:value="${ticket.id}" name="selectedTickets"/></td>
                </tr>
            </table>
            <button type="submit">Delete selected tickets...</button>
        </form>
    </div>
</main>

<footer>
    <p>&copy; 2024 Simple E-Commerce. All rights reserved.</p>
</footer>
</body>
</html>